.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1x;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

.button-chat {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 20px;
    bottom: 20px;
    right: 30px;
    background: rgb(38, 117, 222);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba (0,0,0,0.3);
    z-index: 100px;

}

.button-chat:hover {
    text-decoration: none;
    color: rgb(38, 222, 78);
    background: #fff;
}

.btnClo{
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 20px;
  bottom: 20px;
  right: 30px;
  background: rgb(38, 117, 222);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba (0,0,0,0.3);
  z-index: 100px;
}

#chat-window {
  display: none;
  width: 300px;
  background-color: rgb(208, 238, 234);
  border: 1px solid rgba(241, 126, 126, 0);
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#chat-header {
  background-color: rgb(30, 233, 209);
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

#chat-messages {
  padding: 10px;
  max-height: 300px;
  overflow-y: scroll;
}

#chat-input {
  border: none;
  padding: 10px;
  width: 100%;
}

.sent-bubble {
  background-color: #4bd0ba; /* Color de fondo para mensajes enviados */
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  display: inline-block;
}

.received-bubble {
  background-color: #b84242;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
}

.bot-bubble {
  background-color: rgb(115, 209, 60); /* Cambia el color a rojo */
  color: white;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
  text-align: right; /* Alinea el texto a la derecha */
}

.whasapp{
margin-left: 100px;
}
.whaimg{
height: 50px;
width: 50px;
}